<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body>
  <p> Are you a <a href="restaurant"><p>Restaurant</p></a> or a
    <a href="shelter"><p>Homeless shelter?</p></a></p>
    
    <%=@response.businesses.first.name%>
  </body>
</html>